* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    color: #34ce57;
}
h2 {
    color: #34ce57;
}

.row {
    margin: 8px -16px;
}

/* Aggiungo padding tra ogni colonna */
.row,
.row > .column {
    padding: 8px;
}

/* Crea quattro colonne uguali che fluttuano l'una accanto all'altra */
.column {
    float: left;
    width: 25%;
}

/* Cancella i float dopo le righe */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background: rgba(0, 0, 0, .5);
    color: #ccc;
    padding: 10px;
}

/* Layout reattivo: crea un layout a due colonne invece di quattro colonne */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Layout reattivo: fa impilare le due colonne una sopra l'altra invece che una accanto all'altra */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}



/* Larghezza dell'immagine del 100% su schermi più piccoli */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
