
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background			: url("../img/piante.jpg");


}
a {
    color: white;
    text-decoration: none;

}
a:hover {
    color: blue;
}

.container-fluid {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}
header {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    background			: #1B3854FF; /*blu scuro*/
    padding: 2em 1em;
    box-shadow: 0 1px 6px #ccc;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav ul li{
    padding: 0 .5em;
}


#table-container {
    min-height			: 80vh;
    justify-content		: flex-start;
    align-items			: stretch;
    align-content		: flex-start;
}
#table-container table {
    margin				: 0 auto;
    width				: 80%; /*larghezza 80 %*/
    font-size			: 1.2em;
    text-align			: center; /*testo contenuto nella tabella al cnetro*/
    border-collapse		: collapse; /*elimina la griglia*/
}
#table-container table caption {
    font-size			: 3.2em; /*titolo tabella*/
    color               : #20DC23FF; /*colore titolo*/
}

#table-container table td {
    padding				: .5em 4em;
}
#table-container table thead td {
    background			: #5c6862; /*colore intestazione categorie*/
    border-bottom		: 3px solid #333; /*colore bordo intestazione*/
}
/*per tutte le righe dispari*/
#table-container table tbody tr:nth-child(odd) td {
    background			: #919c97;
}
/*per tutte le righe pari*/
#table-container table tbody tr:nth-child(even) td {
    background			: #3a6851;
}

.input-box {
    /*display				: flex;*/
    /*align-items			: flex-start;*/
    margin				: .3em 0;
    padding				: .2em .4em;
}

input[type="submit"] {
    display				: flex;
    flex				: 0 0 1em;
    margin				: 0 auto; /*mi posiziona il pulsante al centro*/
}


input, textarea, select, option {
    flex				: 3 3 4em;
    border-radius		: .2em; /*bordi arrotondati per il bottone*/
    border				: 2px solid #777;
    margin				: 0;
    padding				: .5em .7em;
    font-size			: 1.1em;
    background			: #798579FF;
    border				: 2px solid #424141FF;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
    background			: #2497cf; /*blu*/
    color				: #ddd; /*bianco*/
    border				: 2px solid #0477b0; /*azzurro*/
}

h1 {
    color: #34ce57;
    text-align: center;
}

h2 {
    color: #34ce57;
    text-align: left;
}




